<nav class="navbar fixed-bottom navbar-light bg-light">
  <a class="navbar-brand" href="#">Developed and designed by Uday Sood</a>
  <a href="https://www.linkedin.com/in/uday-sood-66118a94/">
  <i class="fa fa-linkedin official"></i></a>
</nav>