<div class="container">
    <div class="row">
        <div class="sol-sm-4">
            <img src="/images/Brother.jpg" class="img-responsive">
        </div>
        <div class="col-sm-4">
            <h1>About me</h1>
            <p>Hello, my name is Uday. I was born and raised in Los Angeles, and I am
               currently living in the Greater Seattle Area.
            </p>  
            <p>I am a Software Consultant by trade, but I am always looking to 
                expand my skills. 
            </p>
            <p>
                This website was built using Node.js and Express.js to build
                server side (back-end) and I used html, css / bootstrap, and JavaScript
                to build client side (front-end)
            </p>
            <p>
                On a personal level, I like to stay active by playing basketball, swimming,
                and biking in my free time. I am a sports fanatic and data junkie. I can spend
                a few hours on why I believe Kobe should have more than one MVP
                and what the Dodgers could have done differently in the World Series!
            </p>
        </div>
    </div>
</div>