<div class="container">
    <div class="row">
        <div class="sol-sm-4">
            <img src="/images/Brother.jpg" class="img-responsive">
        </div>
        <div class="col-sm-4">
            <h1>About me</h1>
            <p>Hello, my name is Uday. I'm a Software Implementation Consultant
               and Developer.   
            </p>
        </div>
    </div>
</div>