<div class="container">
    <h1>Experience</h1>
        <div class="row">
            <div class="media">
                <img class="align-self-start mr-3" src="/images/FAST.jpg">
                <div class="media-body">
                <h5 class="mt-0">Fast Enterprises</h5>
                <p>My first opportunity to build software on a larger scale, that impacted millions of peoples 
                   lives on a daily basis. Developing the software to handle revenue and billing processes opened
                   my eyes to how important every step in the software development life cycle is. The need to 
                   accurately handle information requests, credential checks, and balancing books was so crucial,
                   both for the individuals effected and the agency's reputation. Another fun challenge was consulting
                   at different sites to see how state laws impacted the implementation of the GENTAX system.
                </p>
                <small>Greater Seattle Area, WA</small>
                </div>
            </div>
            <br>
            <div class="media">
                <img class="align-self-start mr-3" src="/images/Monet.jpg">
                <div class="media-body">
                <h5 class="mt-0">Monet Networks</h5>
                <p>Working at a small startup was quite an enlightening experience. I learned how to effectively
                   manage the challenges that arose from working in a startup environment. Every day was a different 
                   role, a new challenege, and unique issue that had to be solved.
                </p>
                <small>Irvine, CA</small>
                </div>
            </div>
            <br>
            <div class="media">
                <img class="align-self-start mr-3" src="/images/UPS.jpg" >
                <div class="media-body">
                <h5 class="mt-0">UPS</h5>
                <p>UPS taught me the ins and outs of a robust supply chain and how manipulating data factors into that.
                   Working primarily on a program called UPS AccessPoint, I got an opportunity to work with a small yet 
                   hardworking team of individuals based in the Southern California branch. Our job was to manipulate the 
                   data we would recieve to drive business decisions. This data showed us areas in which we had a high volume
                   of packages not delivered. With this information, we drove the sales team to target specific areas to recruit
                   AP locations. We estimated we saved UPS north of $700,000 in a 4 month window.
                </p>
                <small>Los Angeles, CA</small>
                </div>
            </div>
            <br>
            <div class="media">
                <img class="align-self-start mr-3" src="/images/DellEMC.jpg" >
                <div class="media-body">
                <h5 class="mt-0">Dell EMC</h5>
                <p>This was my first opportunity to apply what I learned in a classroom to the workforce. I got a chance to
                   experience what it is like to work in a large data center and how to identify bugs via unit testing philosophies.
                </p>
                <small>Irvine, CA</small>
                </div>
            </div>
            <br>
        </div>
<div class="container">
    <h1>Education</h1>
        <li class="media">
            <i class="fa fa-graduation-cap" style="color:black"></i>
                <div class="media-body">
                <h5 class="mt-0 mb-1">California State University, Fullerton</h5>
                    <ul>
                        <li>Graduated May of 2017 with a degree in Information Systems / GPA: 3.17</li>
                        <li>Member of CASECS (CS and Engineering club), Pi Kappa Alpha, and BDAC
                            (Business Data and Analytics Club)</li>
                    </ul>
                </div>
        </li>
</div>
</div>