<div class="container">
    <h1>Experience</h1>
        <div class="row">
            <div class="col-sm-4">
                <img src="/images/FAST.jpg" class="img-responsive">
            </div>
            <div class="col-sm-4">
                <img src="/images/Monet.jpg" class="img-responsive">
            </div>
            <div class="col-sm-4">
                <img src="/images/UPS.jpg" class="img-responsive">
            </div>
            <div class="col-sm-4">
                <img src="/images/DellEMC.jpg" class="img-responsive">
            </div>
        </div>
</div>