h1{
    color: red;
    text-align: center;
}

#main{
    margin-top: 60px;
    margin-bottom: 20px;
}

img{
    width: 200px;
    height: auto;
}

#homepage{
    text-align: center;
}

.col-sm-4{
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
}